h1 {
    color: fuchsia;
}

img {
    width: 500px;
}

input {
    padding: 8px;
    border: 1px solid gray;
}

button {
    padding: 8px;
    border: 1px solid gray;
    color: white;
    background: tomato;
}